<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href = "/read" >Read user</a>
    <h1>Create User</h1>
    <form action ='/create' method="POST">
    <input type="text" name="name" placeholder="write your name">
        <input type="email" name="email" placeholder="write your email">
            <input type="text" name="image" placeholder="paste image link here ">
            <button >Create Image</button></form>
</body>
</html>